body > div {
    background: linear-gradient(45deg, rgba(0,0,145,1) 1%, rgba(0,0,129,1) 9%, rgba(0,0,121,1) 13%, rgba(0,0,109,1) 19%, rgba(0,0,9,1) 73%, rgba(0,0,0,1) 78%, rgba(0,0,0,1) 100%);
    
}

#root {
    width: 700px;
    margin: 0 auto;
}

.logo-wraper {
    padding: 30px 0;
    display: flex;
    Justify-content: center;
    align-items: center;
}

.logo-img {
    margin-right: 10px;
    background: url('../img/logo.jpg') no-repeat;
    width: 40px;
    height: 40px;
    background-size: contain;
}


.logo-text {
    font-size: 30px;
    color: white;
}

.social-links ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.social-links ul li div:first-child {
    background-size: contain;
    margin-right: 10px;
    width: 15px;
    height: 15px;
}

.social-links ul li div:last-child span {
    color: beige;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.3s;
    letter-spacing: 1.1;
}

.social-links ul li div:last-child span:hover {
    color:gold;
}

.social-links ul li {
    display: flex;

}

.comp {
    background: url('../img/computer.svg') no-repeat;
}

.twit {
    background: url('../img/twitter.svg') no-repeat;
}

.facebook {
    background: url('../img/facebook.svg') no-repeat;
}

.telegram {
    background: url('../img/telegram.svg') no-repeat;
}

.google {
    background: url('../img/google+.svg') no-repeat;
}


.personal-info {
    display: flex;

}

.personal-info div:first-child{
    background: url('../img/cartman.jpg') no-repeat;
    width: 180px;
    height: 200px;
    background-size: contain;
    margin-right: 70px;
}

.main-info > h2 {
    font-size: 25px;
    color:#104E67;
    margin-bottom: 20px;

}

main {
    background-color: #fff;
    border-radius: 7px;
    padding: 30px 40px;
}

.personal-info-table td, .contact-info-table td {
    padding: 10px 40px 10px 0;
    color: #104E67;

}

.contact-info > h2 {
    color: #104E67;
    font-size: 20px;
    font-weight:bold
}

.contact-info-table{
    margin-bottom: 30px;
}

.about h2 {
    color: #104E67;
    font-size: 20px;
    font-weight:bold
}

.about h3 {
    color: #104E67;
    font-size: 15px;
    padding: 10px 0;
    font-weight:bold
}

.about p {
    color: #104E67;
}

.contacts {
    display: flex;
    align-items: flex-end;
    margin: 20px 20px;
 }
 

.contact-number span {
    font-size: 25px;
    color: gold;
}

.contact-text span {
    color: blanchedalmond;
    margin-left: 5px;
}
.footer-logo {
   padding-top: 10px;
   display: flex;
   flex-direction: row;
   margin: 10px 20px;
}
footer {
     display: flex;
}

.footer-logo-img {
    background: url('../img/logo.jpg') no-repeat;
    width: 40px;
    height: 40px;
    background-size: contain;
}
.footer-logo-text {
    margin-left: 20px;
    color: honeydew;
    width: 140px;
}

.footer-logo-text > span {
    color:darkcyan;
    text-decoration: underline;
}
.footer-content{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
